.setting-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.swither-container {
  margin-top: 15px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  gap: 15px;

  & svg {
    width: 24px;
    height: 24px;
  }
}
